<a href="https://colab.research.google.com/github/Phomphiriya/TopCategorytypeYoutube/blob/main/data_eng_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade --no-cache-dir gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.8/dist-packages (4.4.0)
Collecting gdown
  Downloading gdown-4.6.3-py3-none-any.whl (14 kB)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown) (3.9.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from gdown) (4.64.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown) (1.7.1)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.4.0
    Uninstalling gdown-4.4.0:
      Successfully uninstalled gdown-4.4.0
Successfully installed gdown-4.6.3

In [ ]:
!gdown "1FhX9atbJ3kViocxmQVSoImuki5LMb5UU"

Downloading...
From: https://drive.google.com/uc?id=1FhX9atbJ3kViocxmQVSoImuki5LMb5UU
To: /content/20220620-youtube-trends.zip
100% 185M/185M [00:01<00:00, 122MB/s]

In [ ]:
!unzip 20220620-youtube-trends.zip

Archive:  20220620-youtube-trends.zip
  inflating: JP_category_id.json
  inflating: __MACOSX/._JP_category_id.json
  inflating: JP_youtube_trending_data.csv
  inflating: __MACOSX/._JP_youtube_trending_data.csv
  inflating: US_category_id.json
  inflating: __MACOSX/._US_category_id.json
  inflating: US_youtube_trending_data.csv
  inflating: __MACOSX/._US_youtube_trending_data.csv

In [ ]:
!ls US* JP*

JP_category_id.json	      US_category_id.json
JP_youtube_trending_data.csv  US_youtube_trending_data.csv

In [ ]:
path = "US_youtube_trending_data.csv"
path_category = "US_category_id.json"

In [ ]:
import numpy as np
import pandas as pd
import json

In [ ]:
df = pd.read_csv(path)
df_category = pd.read_json(path_category)

In [ ]:
df

,video_id,title,publishedAt,channelId,channelTitle,categoryId,trending_date,tags,view_count,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,description
0,3C66w5Z0ixs,I ASKED HER TO BE MY GIRLFRIEND...,2020-08-11T19:20:14Z,UCvtRTOMP2TqYqu51xNrqAzg,Brawadis,22,2020-08-12T00:00:00Z,brawadis|prank|basketball|skits|ghost|funny vi...,1514614,156908,5855,35313,https://i.ytimg.com/vi/3C66w5Z0ixs/default.jpg,False,False,SUBSCRIBE to BRAWADIS ▶ http://bit.ly/Subscrib...
1,M9Pmf9AB4Mo,Apex Legends | Stories from the Outlands – “Th...,2020-08-11T17:00:10Z,UC0ZV6M2THA81QT9hrVWJG3A,Apex Legends,20,2020-08-12T00:00:00Z,Apex Legends|Apex Legends characters|new Apex ...,2381688,146739,2794,16549,https://i.ytimg.com/vi/M9Pmf9AB4Mo/default.jpg,False,False,"While running her own modding shop, Ramya Pare..."
2,J78aPJ3VyNs,I left youtube for a month and THIS is what ha...,2020-08-11T16:34:06Z,UCYzPXprvl5Y-Sf0g4vX-m6g,jacksepticeye,24,2020-08-12T00:00:00Z,jacksepticeye|funny|funny meme|memes|jacksepti...,2038853,353787,2628,40221,https://i.ytimg.com/vi/J78aPJ3VyNs/default.jpg,False,False,I left youtube for a month and this is what ha...
3,kXLn3HkpjaA,XXL 2020 Freshman Class Revealed - Official An...,2020-08-11T16:38:55Z,UCbg_UMjlHJg_19SZckaKajg,XXL,10,2020-08-12T00:00:00Z,xxl freshman|xxl freshmen|2020 xxl freshman|20...,496771,23251,1856,7647,https://i.ytimg.com/vi/kXLn3HkpjaA/default.jpg,False,False,Subscribe to XXL → http://bit.ly/subscribe-xxl...
4,VIUo6yapDbc,Ultimate DIY Home Movie Theater for The LaBran...,2020-08-11T15:10:05Z,UCDVPcEbVLQgLZX0Rt6jo34A,Mr. Kate,26,2020-08-12T00:00:00Z,The LaBrant Family|DIY|Interior Design|Makeove...,1123889,45802,964,2196,https://i.ytimg.com/vi/VIUo6yapDbc/default.jpg,False,False,Transforming The LaBrant Family's empty white ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136185,rzYxIV12eSM,Different Childhood Sleepovers (pt.4) | Dtay K...,2022-06-12T23:12:31Z,UCQbkwWO1G1zGkPdHuMiv4Xw,Dtay Known,1,2022-06-19T00:00:00Z,Ransom|Parody|comedy|old belt road|Kyle Exum|D...,2016607,51945,0,3146,https://i.ytimg.com/vi/rzYxIV12eSM/default.jpg,False,False,"100,000 likes & the next video drops!SUB TO MY..."
136186,lu7kindnd6I,Toon Blast Animation | Toons on Tour,2022-06-08T11:21:36Z,UCcSlsE_QfoXLs1skS1c7Zhw,Toon Blast,24,2022-06-19T00:00:00Z,[None],2388536,43868,0,801,https://i.ytimg.com/vi/lu7kindnd6I/default.jpg,False,False,"Our crazy toons Bruno, Cooper & Wally were spo..."
136187,CdlDPHyngAM,Mirah Birthday Recap,2022-06-14T19:00:09Z,UCG-4KTbjTu4TLENy_-dR7UA,MK FAMILY,24,2022-06-19T00:00:00Z,immirahbadkid|kambad_kiddd|imbadkidjay|vlogs|f...,227996,8270,0,209,https://i.ytimg.com/vi/CdlDPHyngAM/default.jpg,False,False,More Videos ➔ https://www.youtube.com/channel/...
136188,xXfmdw9tFa8,EXTREME CAMOUFLAGE HIDE AND SEEK!!,2022-06-13T00:30:10Z,UC6xSN0oY2I9U_9xTo2RjE7g,Jeremy Hutchins,24,2022-06-19T00:00:00Z,Jeremy Hutchins|Ben Azelart|Lexi Rivera|Brent ...,3122637,75560,0,2880,https://i.ytimg.com/vi/xXfmdw9tFa8/default.jpg,False,False,We played Extreme Camouflage Hide & Seek..This...
136189,OnO8Mj7KLzg,Emotional Damage: Asian Parent Punishments 2,2022-06-13T15:25:07Z,UCP0_k4INXrwPS6HhIyYqsTg,Steven He,23,2022-06-19T00:00:00Z,Steven He|Comedy|Sketches|Funny|laugh|tntl|ski...,1958939,147617,0,6159,https://i.ytimg.com/vi/OnO8Mj7KLzg/default.jpg,False,False,This whole video was so I can write off a froz...

In [ ]:
df_sumView = df.groupby("categoryId").sum()
df_sumView

,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled
categoryId,,,,,,
1,12264580884,560883709,6686643,39468645,58,56
2,2441832858,111359394,1408858,9451372,0,11
10,101372660394,6834564147,106002834,747153163,61,84
15,737327187,35487949,395656,2398825,0,8
17,30037922596,755440396,15843036,62564633,45,122
19,792427309,44461009,453556,2260820,0,4
20,50133842565,2717043186,38395646,203133642,235,171
22,24804307814,1440266118,31225806,90107337,291,159
23,14478321140,1014518781,11174623,48946715,6,15
24,89030760570,4503503291,62549431,278777815,428,121
25,12430211268,162629992,9979392,38466684,563,73
26,5790604792,296109686,7266989,22026236,47,25
27,6258916377,357086385,4040488,20275493,40,30
28,11575158433,499524932,9343119,28596819,335,31
29,279268359,12837346,112968,887347,0,0

In [ ]:
df_sorted = df_sumView.sort_values("view_count", ascending=False)
df_sorted = df_sorted.head(10)
df_sorted

,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled
categoryId,,,,,,
10,101372660394,6834564147,106002834,747153163,61,84
24,89030760570,4503503291,62549431,278777815,428,121
20,50133842565,2717043186,38395646,203133642,235,171
17,30037922596,755440396,15843036,62564633,45,122
22,24804307814,1440266118,31225806,90107337,291,159
23,14478321140,1014518781,11174623,48946715,6,15
25,12430211268,162629992,9979392,38466684,563,73
1,12264580884,560883709,6686643,39468645,58,56
28,11575158433,499524932,9343119,28596819,335,31
27,6258916377,357086385,4040488,20275493,40,30

In [ ]:
df_category

,kind,etag,items
0,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'IfW..."
1,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '5XG..."
2,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'HCj..."
3,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'ra8..."
4,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '7mq..."
5,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '0Z6..."
6,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'K_-..."
7,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'I3I..."
8,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'D1W..."
9,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'QME..."
10,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'v2n..."
11,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'Qi1..."
12,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'IbG..."
13,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'gYz..."
14,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'hHU..."
15,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'KEd..."
16,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'Aio..."
17,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'tMf..."
18,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'tot..."
19,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'LNg..."
20,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'har..."
21,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'M6Y..."
22,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'ZFb..."
23,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'FD7..."
24,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '7fv..."
25,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'H6d..."
26,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'Z3y..."
27,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '3F8..."
28,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'Hwu..."
29,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': 'qJ2..."
30,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '2sK..."
31,youtube#videoCategoryListResponse,HIrK3n45Uw2IYz9_U2-gK1OsXvo,"{'kind': 'youtube#videoCategory', 'etag': '3Ia..."

In [ ]:
column_json = ['id', 'title', 'kind', 'etag']

In [ ]:
df_name = pd.DataFrame(columns = column_json)
df_name

Empty DataFrame
Columns: [id, title, kind, etag]
Index: []

In [ ]:
ls_items = []
for index,json in df_category.iterrows():
  ls_items.append(json['items'])
  df_name = df_name.append({'id' : json['items']['id'], 'kind' : json['items']['kind'], 'etag' : json['items']['etag'], 'title' : json['items']['snippet']['title']}, ignore_index=True)
df_title = df_name
df_title

     id             title                   kind                         etag
0     1  Film & Animation  youtube#videoCategory  IfWa37JGcqZs-jZeAyFGkbeh6bc
1     2  Autos & Vehicles  youtube#videoCategory  5XGylIs7zkjHh5940dsT5862m1Y
2    10             Music  youtube#videoCategory  HCjFMARbBeWjpm6PDfReCOMOZGA
3    15    Pets & Animals  youtube#videoCategory  ra8H7xyAfmE2FewsDabE3TUSq10
4    17            Sports  youtube#videoCategory  7mqChSJogdF3hSIL-88BfDE-W8M
..   ..               ...                    ...                          ...
315  40    Sci-Fi/Fantasy  youtube#videoCategory  3F8eda4xnGzGFmlpsFaf5_YpOgU
316  41          Thriller  youtube#videoCategory  HwuNLGhBJ4PZCEurr-SoqvHuKx8
317  42            Shorts  youtube#videoCategory  qJ2eDOZWUDj8fbFYAIG_yzPCYRc
318  43             Shows  youtube#videoCategory  2sKmjip5q7FHJgqkHvnpMDgmddE
319  44          Trailers  youtube#videoCategory  3IaZjRK8JeIkLMfRDX57P4FFb9A

[320 rows x 4 columns]

In [ ]:
result = df_sorted.merge(df_title, left_index=True, right_index=True)
final_result = result.sort_values("view_count", ascending=False)
final_result

,view_count,likes,dislikes,comment_count,comments_disabled,ratings_disabled,id,title,kind,etag,index
10,101372660394,6834564147,106002834,747153163,61,84,23,Comedy,youtube#videoCategory,v2n6q4JttoL4uUbazrcxNQRGPZk,10
24,89030760570,4503503291,62549431,278777815,428,121,37,Family,youtube#videoCategory,7fvdoCRRWE89SpB5UaOY8gGdbk0,24
20,50133842565,2717043186,38395646,203133642,235,171,33,Classics,youtube#videoCategory,harT7v7A6516SPdkqp81Xy5yfBw,20
17,30037922596,755440396,15843036,62564633,45,122,30,Movies,youtube#videoCategory,tMfbFvkfuPP8YnUEqpr0gcR6aWU,17
22,24804307814,1440266118,31225806,90107337,291,159,35,Documentary,youtube#videoCategory,ZFbZGeeLYWolvmCLQM7m8Yio104,22
23,14478321140,1014518781,11174623,48946715,6,15,36,Drama,youtube#videoCategory,FD7naICnxxl8HOnZZJAzrWplzuU,23
25,12430211268,162629992,9979392,38466684,563,73,38,Foreign,youtube#videoCategory,H6d6HrYDy3EAVAxQR8Z-ShEva1k,25
1,12264580884,560883709,6686643,39468645,58,56,2,Autos & Vehicles,youtube#videoCategory,5XGylIs7zkjHh5940dsT5862m1Y,1
28,11575158433,499524932,9343119,28596819,335,31,41,Thriller,youtube#videoCategory,HwuNLGhBJ4PZCEurr-SoqvHuKx8,28
27,6258916377,357086385,4040488,20275493,40,30,40,Sci-Fi/Fantasy,youtube#videoCategory,3F8eda4xnGzGFmlpsFaf5_YpOgU,27

In [ ]:
final_result.drop(columns=['likes','dislikes','comment_count','comments_disabled','ratings_disabled','id','kind','etag','index'], inplace=True)
final_result

      view_count             title
10  101372660394            Comedy
24   89030760570            Family
20   50133842565          Classics
17   30037922596            Movies
22   24804307814       Documentary
23   14478321140             Drama
25   12430211268           Foreign
1    12264580884  Autos & Vehicles
28   11575158433          Thriller
27    6258916377    Sci-Fi/Fantasy